/*公有样式*/
/*轮播图开始*/
body{
    height: 9999px;
}
.slide {
    position: relative;
    height: 500px;
}
.img-box img{
    width: 1226px;
    height: 500px;
    position: absolute;
    left: 0;
    top:0;
}
.img-box a{
    display: none;
}
.img-box .selected{
    display: block;
}
.prev-btn,.next-btn {
    width: 48px;
    height: 70px;
    position: absolute;
    top:50%;
    margin-top:-35px;
    color: #757575;
    font-size: 50px;
    line-height: 70px;
    text-align: center  ;
    border-radius: 4px;
}
.prev-btn{
    left: 242px;
}
.next-btn{
    right: 0;
}
.prev-btn:hover,.next-btn:hover  {
    background:rgba(0,0,0,0.5);
    color:#ffffff;
    cursor: pointer;
}
#btn li{
    width: 6px;
    height: 6px;
    background: #232429;
    border:2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer ;
    z-index: 100;
}
#btn .selected {
    background: #898a8e;
    border:2px solid #4f4e56;
}
#btn{
    width: 128px;
    position: absolute;
    right: 0;
    bottom: 20px;
}
.list {
    position: absolute;
    z-index: 2;
    width: 234px;
    height: 450px;
    padding: 25px 0 ;
    background:rgba(0,0,0,0.5);
}
.list a.link {
    padding: 10px 30px 0 10px;
    color: #eeeeee;
}
.list-item{
    padding-bottom: 3px;
    padding-left: 15px;
    height: 42px;
    line-height: 42px;
    display: block;
    color: #eeeeee;
    font-size: 14px;
    cursor: pointer;
}
.list-item:hover {
    background: #ff6700;
}
.list-item:hover .sub-list{
    display: block;
}
.more-list {
    float: right;
    padding-right: 15px;
}
.sub-list{
    display: none;
    box-shadow:0 8px 16px rgba(0,0,0,0.18);
    border-top:1px solid #e0e0e0;
    position: absolute;
    height: 500px;
    left: 234px;
    top:0;
    background: #ffffff ;
}
.list-3{
    width: 795px;
}
.list-2{
    width: 530px;
}
.list-4{
    width: 992px;
}
.sub-list1-child1{
    float: left;
    width: 265px;
    height: 500px;
}
.sub-list1-child2{
    float: left;
    width: 265px;
    height: 500px;
}
.sub-list1-child3{
    float: left;
    width: 265px;
    height: 500px;
}
.list-4-1 ul{
    float: left;
    width: 247px;
    height: 500px;
    padding: 2px 0;
}
.boom{
    float: left;
    color: #333333;
    padding: 15px 20px;
    display: block;
    line-height: 52px;
}
.title:hover .text {
    color: #ff6700;
}
.pick{
    display: inline-block;
    right: 10px;
    top: 26px;
    width: 58px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: #ff6700;
    text-align: center;
}
.pick:hover {
    background: #ff6700;
    color: #ffffff;
}
.sub-list .text{
    display: -moz-inline-box;
    display: inline-block;
    padding-left: 5px ;
    line-height: 40px;
    color: #333333;
}
.list1-text .text{
    width: 106px;
}
.thumb {
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.shakalaka{
    padding: 15px 20px;
    position: relative;
    float: left;
    width: 170px;
    height: 53px;

}
/*轮播图开始*/
/*频道列表开始*/
.channel-list{
    width: 228px;
    height: 164px;
    padding: 3px;
    background: #5f5750;
    float: left;
}
.channel-list li{
    position: relative;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    float: left;
}
.channel-list ul{
    overflow: hidden;
}
.channer-box{
    margin-top: 14px;
    margin-bottom: 24px;
    height: 170px;
}
.channel-list a{
    width: 70px;
    height: 46px;
}
.channel-list i{
    display: block;
    font-size: 24px;
    text-align: center;
    color:rgba(255,255,255,0.7);
    padding-top:18px;
}
.channel-list span{
    display: block;
    text-align: center;
    color:rgba(255,255,255,0.7);
    font-size: 12px;
}
.line-right{
    position: absolute;
    right: 4px;
    top: 4px;
    width: 1px;
    height: 70px;
    background: #665e57;
}
.line-bottom{
    position: absolute;
    width: 70px;
    height: 1px;
    background: #665e57;
    right: 8px;
    top: 79px;
}
.box-one:hover span,.box-one:hover i{
    color: #fffcf9;
}
.promp-list{
    float: right;
}
.promp-list a{
    float: left;
}
.promp-img{
    float: left;
    margin: 0;
    padding: 0;
}
.list-img{
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 14px;  }
.list-img img{
    width: 316px;
    height: 170px;
}
.list-img:hover {
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.18);
}
/*频道列表结束*/
/*明星菜单开始*/
.star-box {
    position: relative;
    overflow: hidden;
}
.star-title{
    font-size:22px;
    color: #333333;
    font-weight: 200;
    height: 58px;
    line-height: 58px;
}
.more-box {
    position: absolute;
    right: 0;
    top: 20px;
}
.more-box i{
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    width: 36px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: left;
    font-size: 16px;
    cursor: pointer;
}
.more-box i.icon-left{
    border-right: none;
}
.more-box i.icon-active{
    color: #b0b0b0;
}
.more-box i.icon-active:hover{
    color: #ff6700;
}
.pro-ul{
    width: 2480px;
}
.pro-ul li{
    width: 234px;
    height: 301px;
    background: #fafafa;
    padding-top: 39px;
    float: left;
    margin-bottom:40px;
    margin-right: 14px;
    border-top: 1px solid;
}
.pro-ul li.pro-item1,.pro-ul li.pro-item6{
    border-top-color:#ffac13;
}
.pro-ul li.pro-item2,.pro-ul li.pro-item7{
    border-top-color:#83c44e;
}
.pro-ul li.pro-item3,.pro-ul li.pro-item8{
    border-top-color:#2196f3
}
.pro-ul li.pro-item4,.pro-ul li.pro-item9{
    border-top-color:#e53935
}
.pro-ul li.pro-item5,.pro-ul li.pro-item10{
    border-top-color:#00c0a5
}
.pro-img-box{
    display: block;
    text-align: center;
}
.pro-img{
    width: 160px;
    height: 160px;
}
.pro-title{
    display: block;
    height: 21px;
    line-height: 21px;
    color: #212121;
    text-align: center;
    font-size: 14px;
    margin-top: 22px;
    overflow: hidden;
}
.pro-dest{
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 20px 12px;
    overflow: hidden;
}
.pro-price{
    color: #ff6700;
    text-align: center;
    font-size: 14px;
}
/*明星菜单结束*/
/*产品菜单开始*/
.home-main {
    padding-top: 60px;
    height: 5000px;
}
.page-main {
    background: #f5f5f5;
    /*position: relative;*/
}
.home-box{
    height: 686px;
    margin-bottom: 8px;
}
.box-hd{
    height: 58px;
}
.box-hd .title{
    margin: 0;
    font-size: 24px;
    font-weight:200;
    line-height: 58px;
    color: #333333;
}
.box-hd .box-hd-right{
    position: absolute;
    top: 0;
    right: 0;
}
.box-hd .box-hd-list{
    margin: 0;
    padding:16px 0 0;
    font-size: 16px;
}
.box-hd .box-hd-list li{
    cursor: pointer;
    float: left;
    margin:0 0 0 30px;
}
.box-hd-list-active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-bd{
    position: relative;
}
.box-bd-left{
    float: left;
    width: 234px;
    height: 614px;
}
.box-bd-right{
    width: 992px;
    height: 614px;
    float: left;
}
.bd-ul{
    float: left;
}
.box-bd-left li{
    top: 0;
    position: absolute;
}
.box-bd-left a{
    display: block;
    width: 234px;
    height: 614px;
}
.bd-ul li{
    width: 234px;
    padding: 34px 0 22px 0;
    margin: 0 0 14px 14px;
    background: #fff;
    float: left;
    position: relative;
    top: 0;
}
.bd-ul .bd-ul-sub{
    position: relative;
    width: 234px;
    padding-top: 28px;
    height: 93px;
    margin: 0 0 14px 14px;
    background: #fff;
    float: left;
}
.bd-img-a{
    display: block;
    width: 150px;
    height: 156px;
    margin: 0 auto 18px;
}
.bd-img{
    width: 150px;
    height: 150px;
}
.bd-title{
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
}
.bd-dest{
    margin: 0 10px 10px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    color:#b0b0b0;
}
.bd-price{
    color: #ff6700;
    text-align: center;
}
.bd-price del{
    color: #b0b0b0;
}
.bd-flag{
    position: absolute;
    top: 0;
    left: 50%;
    width: 64px;
    height: 20px;
    margin-left:-32px;
    font-size: 12px;
    line-height: 20px;
    text-align:center;
    color: #fff;
    z-index: 2;
    background: #e53935;
}
.bd-flag1{
    position: absolute;
    top: 0;
    left: 50%;
    width: 64px;
    height: 20px;
    margin-left:-32px;
    font-size: 12px;
    line-height: 20px;
    text-align:center;
    color: #fff;
    z-index: 2;
    background: #83c44e;
}
.bd-right-one,.bd-right-two{
    width: 234px;
    height: 93px;
    position: relative;
}
.bd-one-img{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 0px;
}
.bd-one-price{
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
    height: 21px;
    width: 94px;
    margin-top: 40px;
    position: absolute;
}
.bd-one-title{
    color: #333333;
    float: left;
    margin-left:30px;
    margin-top:8px;
    font-size: 14px;
    font-weight: 400;
}
.icon-jiantou-top{
    float: right;
    color: #ff6700;
    font-size: 53px;
    font-weight:500;
    margin-top: -4px;
    margin-right:30px;
}
.bd-two-title{
    color: #333;
    font-size: 18px;
    display: block;
    margin: 15px 110px 0 30px;

}
.bd-two-price{
    color: #b0b0b0;
    font-size: 10px;
    display: block;
    margin: 0 110px 0 30px;
}
.bd-review{
    position: absolute;
    height: 0px;
    left: 0;
    bottom:0;
    background: #ff6700;
    overflow: hidden;
}
.bd-review a{
    padding:8px 30px;
    display: block;
}
.review{
    color: #ffffff;
    font-size: 12px;
    display: block;
}
.author {
    color: rgba(255,255,255,0.6);
    font-size: 12px;
}
.box-bd-right li:hover .bd-review{
    animation: appaer 0.3s ease-in forwards ;
    background: red;
}
@keyframes appaer {
    100%{
        height: 76px;
    }
}
.box-bd-right li:hover{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.18);
    animation: run 0.3s ease forwards;
}
.box-bd-left li:hover{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.18);
    animation: run 0.3s ease forwards;
}
@keyframes run  {
    100%{
        top:-2px;
    }
}
.riview-list{
    width: 1226px;
    height: 415px;

}
.riview-item{
    width: 296px;
    height: 415px;
    margin-bottom: 14px;
    background: #fff;
    float: left;
    top: 0;
    position: relative;
    /*transition: all .2s linear;*/
 }
.riview-item-next{
    margin: 0 0 14px 14px;
}
.bd-img-riview img{
    width: 296px;
    height: 226px;
    margin-bottom: 28px;
}
.riview-item .riview{
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
}
.riview-item .riview a{
    color: #333333;
}
.riview-item .author{
    position: relative;
    height: 18px;
    margin:0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.riview-item .info{
    margin:0 30px;
    font-size: 14px;
    font-weight: 400;
}
.riview-item:hover{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.18);
    animation: riview-run 0.3s ease forwards;
}
@keyframes riview-run  {
    100%{
        top:-2px;
    }
}
.info a{
    color: #333333;
}
.info .num{
    color: #ff6700;
}
.info .sep{
    margin:0;
    font-family: sans-serif;
    color:#e0e0e0;
}
/*产品菜单结束*/
/*内容开始*/
.content-item{
    position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
}
.content-list .content-item-first{
    margin-left:0;
}
.content-item-book{
    border-top-color:#ffac13;
    color: #ffac13;
}
.content-item-theme{
    border-top-color:#83c44e;
    color: #83c44e;
}
.content-item-game{
    border-top-color:#e53935;
    color: #e53935;
}
.content-item-app{
    border-top-color:#2196f3;
    color: #2196f3;
}
.content-item .title{
    margin:0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.content-menu{
    overflow: hidden;
}
.content-item-book .content-btn{
    width: 888px;
}
.content-item-game .content-btn{
    width: 888px;
}
.content-item-theme .content-btn{
    width: 1184px;
}
.content-item-app .content-btn{
    width: 1184px;
}
.content-item .content-btn{
    text-align: center;
    overflow: hidden;
    margin:0;
    padding: 0;
    color: #333333;
}
.content-item .content-btn li{
    float: left;
    width: 296px;
}
.content-btn .name{
    color: #333;
    text-align: center;
    display: block;
    margin: 0 20px 5px 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}
.content-btn .desc{
    display: block;
    margin:0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #b0b0b0;
    width: 200px;
}
.content-btn .price{
    display: block;
    width: 276px;
    height: 21px;
    margin: 0 10px 15px 10px;
    text-align: center;
    color: #333333;
}
.content-btn .img{
    text-align: center;
    display: block;
}
.content-btn .btn-img{
    width: 216px;
    height: 154px;
}
.content-item .content-pager{
    position: absolute;
    bottom:15px;
    left: 0;
    width: 296px;
    text-align: center;
}
.pagers{
    margin: 0;
    padding: 0;
}
.pagers .pager{
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 0 2px;
    cursor:pointer;
}
.pagers .dot{
    display: block;
    width: 5px;
    height: 5px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    text-align: left;
    overflow: hidden;
    background: #b0b0b0;
}
.pagers .pager-active .dot, .pagers .pager-active:hover .dot {
    border-color: #ff6700;
    background-color: #f5f5f5;
    background-color: transparent;
}
.pagers .pager:hover .dot{
    background: #ff6700;
}
.pagers .pager-active{
    cursor: default;
    /*单独选中它让它不变小手*/
}
.con-back,.con-gengduo{
    opacity: 0;
    width: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #e0e0e0;
    color: #fafafa;
    position: absolute;
    top: 50%;
    font-weight: 700;
}
.con-back{
    left: 0;
}
.con-gengduo{
    right: 0;
}
.content-item:hover .con-back{
    opacity: 1;
}
.con-back:hover{
    background: #b0b0b0;
}
.content-item:hover .con-gengduo{
    opacity: 1;
}
.con-gengduo:hover{
    background: #b0b0b0;
}
.content-item:hover{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.18);
    animation: con-run 0.3s ease forwards;
}
@keyframes con-run  {
    100%{
        top:-2px;
    }
}
.page-main .pro-ul{
    top: 0;
    position: relative;
    float: left;
}
.page-main .pro-ul li{
    border-top-color:#ffffff;
}
.page-main .pro-ul li:hover{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.18);
    animation: con-show 0.3s ease forwards;
}
@keyframes con-show  {
    100%{
        top:-2px;
    }
}
/*内容结束*/
/*底部开始*/
.list-service{
    padding: 27px 0;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}
.list-service li{
    width: 243px;
    text-align: center;
    float: left;
}
.list-service li::after{
    content: '';

}
.list-service li a{
    color: #616161;
}
/*底部结束*/


